NODE_ENV=development
PORT=3000

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=houji_p1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/houji_p1
